.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    width: 440px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 650px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 870px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}

.btn-link:hover {
  color: #c7dbf3;
}

.btn-default {
  color: #ffffff!important;
}

.btn-table {
  margin-left: -12px!important;
}

.btn-space {
  padding-left: 12px; 
  padding-right: 12px;
}

.label-align {
  margin-left: 10px;
}

.transition.ng-enter {
  transition: .7s;
  opacity: 0;
}
.transition.ng-enter-active {
  opacity: 1;
}
