<md-content>
  <md-toolbar md-colors="{background: 'blue-900'}">
    <div class="md-toolbar-tools" >
      <p><md-icon style="font-size: 28px; margin-bottom: 6px;">cast_for_education</md-icon></p>
      
      <a class="md-subhead btn-link" style="margin-left: 83px; font-weight: bold;" md-truncate ui-sref="courses">Cursos</a> 
      <div style="border-left: 1px groove white; height: 30px; margin-left: 14px; opacity: 0.6;"></div>
      <a class="md-subhead btn-link" style="margin-left: 15px; font-weight: bold;" md-truncate ui-sref="users">Usuários</a>
    </div>
  </md-toolbar>
</md-content>