<div layout="column" class="container">
  <div layout="row">
    <md-input-container flex="50" style="margin-top: 39px;">
      <label>Associar novos usuários</label>
      <md-select 
        ng-model="selected"
        md-on-close="clearSearchTerm()"
        data-md-container-class="selectdemoSelectHeader"
        multiple
      >
        <md-select-header class="demo-select-header">
          <input 
            ng-model="searchTerm"
            type="search"
            placeholder="Pesquisar"
            class="demo-header-searchbox md-text"
          >
        </md-select-header>
        <md-optgroup label="user">
          <md-option ng-value="user.id" ng-repeat="user in usersToAssociate | filter:searchTerm">{{user.name}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
  </div>

  <div layout="row" style="margin-top: -61px; margin-bottom: 20px; margin-left: 7px;">
    <md-button flex-offset="50" md-no-ink class="md-primary" ng-click="updateCourse()">
      <md-tooltip md-direction="right">Associar usuários ao curso</md-tooltip> Associar
    </md-button>
  </div>
  
  <div>
    <div class="md-whiteframe-4dp">
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <span>{{ course.title }}</span>
          <span flex></span>

          <md-input-container flex="30" style="margin-top: 43px;">
            <input ng-model="search" type="text" aria-label="Pesquisar">
            <md-icon style="display:inline-block;">search</md-icon>
          </md-input-container>
          
        </div>
      </md-toolbar>
      <md-table-container>
        <table md-table>
          <thead md-head md-order="query.order">
            <tr md-row>
              <th md-column md-order-by="name" style="outline: none; border: 0px;" ng-click="sortColumn('name')">Nome</th>
              <th md-column>Telefone</th>
              <th md-column>Cidade</th>
              <th md-column>Data Admissão</th>
              <th md-column>Ações</th>
            </tr>
          </thead>
          <thead class="md-table-progress" ng-if="loading">
            <tr>
              <th colspan="5">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
              </th>
            </tr>
          </thead>
          <tbody md-body ng-if="users.length == 0">
            <tr md-row>
              <td md-cell colspan="5" style="text-align: center;">Não há registros.</td>
            </tr>
          </tbody>
          <tbody md-body>
            <tr md-row md-select-id="user.id" ng-repeat="user in users | orderBy: sort | limitTo: query.limit : (query.page - 1) * query.limit | filter: search : direction">
              <td md-cell>{{user.name}}</td>
              <td md-cell>{{user.phone | phone }}</td>
              <td md-cell>{{user.city}}</td>
              <td md-cell>{{user.admission_date | date:'dd/MM/yyyy'}}</td>
              <td md-cell>
                <a class="md-icon-button cursor" ng-click="confirmDialog($event, user.id)">
                  <md-tooltip md-direction="left">Remover</md-tooltip>
                  <md-icon md-colors="{color: 'red-400'}" style="font-size: 18px;">delete</md-icon>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination 
        md-limit="query.limit" 
        md-label="{page: 'Página:', rowsPerPage: 'Registros por página:', of: 'de'}" 
        md-limit-options="[5, 10, 15]" 
        md-page="query.page" 
        md-total="{{users.length}}"
        md-page-select>
      </md-table-pagination>
    </div>

    

  </div>
  
</div>