<form name="courseForm" novalidate>
  <div layout="row">
    <h2>Novo Curso</h2>
  </div>
  <div layout="row">
    <md-input-container class="md-block btn-space" flex="50">
      <label class="label-align">Título</label>
      <input ng-required="true" name="title" ng-model="course.title" />
      <div ng-show="courseForm.$submitted || courseForm.title.$touched" ng-messages="courseForm.title.$error">
        <div ng-message="required">O campo título é obrigatório.</div>
      </div>
    </md-input-container>
  
    <md-input-container class="md-block btn-space" flex="50">
      <label class="label-align">Carga Horária</label>
      <input ng-required="true" name="workload" ng-model="course.workload" />
      <div ng-show="courseForm.$submitted || courseForm.workload.$touched" ng-messages="courseForm.workload.$error">
        <div ng-message="required">O campo carga horária é obrigatório.</div>
      </div>
    </md-input-container>
  </div>

  <div layout="row">
    <md-input-container class="md-block btn-space" flex="50">
      <label class="label-align">Descrição</label>
      <textarea name="description" ng-model="course.description" md-maxlength="150" rows="3" md-select-on-focus></textarea>
      <div ng-show="courseForm.description.$dirty" ng-messages="courseForm.description.$error">
        <div ng-message="required">O campo descrição é obrigatório.</div>
      </div>
    </md-input-container>
  </div>

  <div layout="row" layout-align="center center">
    <md-button type="submit" class="md-button md-raised md-primary btn-default" ng-click="saveCourse(course)">
      Salvar
    </md-button>
  </div>
</form>